# AppVeyor.com is a Continuous Integration service to build and run tests under
# Windows

environment:

  global:
      PYTHON: "C:\\conda"
      MINICONDA_VERSION: "latest"
      CMD_IN_ENV: "cmd /E:ON /V:ON /C .ci-helpers\\appveyor\\windows_sdk.cmd"
      PYTHON_ARCH: "64" # needs to be set for CMD_IN_ENV to succeed. If a mix
                        # of 32 bit and 64 bit builds are needed, move this
                        # to the matrix section.

  matrix:

      # We test Python 2.6 and 3.4 because 2.6 is most likely to have issues in
      # Python 2 (if 2.6 passes, 2.7 virtually always passes) and Python 3.4 is
      # the latest Python 3 release.

      - PYTHON_VERSION: "2.6"
        NUMPY_VERSION: "1.9.1"
      - PYTHON_VERSION: "3.4"
        NUMPY_VERSION: "1.9.1"

platform:
    -x64

install:
    - "git clone . ci-helpers"
    - "powershell ci-helpers/appveyor/install-miniconda.ps1"
    - "conda env list"

# Not a .NET project, we build SunPy in the install step instead
build: false

test_script:
  - "%CMD_IN_ENV% python --version"

